.music_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.music_details_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
