.tablerow_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-width: 90vw;
  border: 1px solid black;
  padding: 1rem;

  transition: scale 0.25s;
}

.tablerow_container:hover {
  scale: 1.05;
}

.tablerow_container * {
  align-self: center;
}

.error_parraf {
  color: red;
}

.progress__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.progress__wheel {
  font-size: x-large;
}

.delete__button:hover {
  border-color: #b91d1d;
}
